extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Akram Imtiaz

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a recent Computer Science graduate aiming to become a Full-Stack JavaScript developer. In order to achieve my goal I have enrolled 
            | into the Team Treehouse Full-Stack JavaScript Techdegree to learn the tools and skills needed to work in the industry.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li ES6 (ECMA-2015)
          li JQuery
          li Fetch API
          li Node.js 
          li Express.js
        h6 Contact Info

        ul
          li 123-456-789
          li akram@email.com

        a.button.expanded(href='https://au.linkedin.com/in/akramimtiaz') LinkedIn
        a.button.expanded(href='https://github.com/akramimtiaz') GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  